/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
body {
    display: flex;
    min-height: 10px;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
.collection {
    margin-bottom: 0rem;
}
.collection .collection-item.avatar {
  min-height: 62px;
}
.secondary-content {
  color: #000000;
}